.skeletonContentNotVisible {
    display: none;
}

.skeletonShape {
    display: block;
    margin: 8px;
    background-color: #DDD;
    animation-name: skeletonBlink;
    animation-duration: 1.7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.skeletonRectangle {
    border-radius: 4px;
}

.skeletonCircle {
    border-radius: 50%;
}

@keyframes skeletonBlink {
    0% {opacity: 1;}
    50% {opacity: 0.35;}
    100% {opacity: 1;}
  }
